<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/order">Place Order</a></li> -->
        <li><a href="/viewOrders">View Orders</a></li>
        <li><a href="/login">Admin Login</a></li>
    </ul>
</nav>
